body {
    box-sizing: border-box;
    background: #ffffff;
    width: 100%;
}

/* Header */

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: stretch;
}

.header .header-image {
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 10px;
    display: flex;
}

.header .header-image img {
    width: 150px;
    height: auto;
}

.header .header-menu {
    flex: 4;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}

.header-menu-items {
    margin: 10px;
    padding: 15px;
    color: #333333;
    border: solid rgb(0, 0, 0, 0) 1px;
    transition: border linear 0.2s;
    border-radius: 50px;
}

.header-menu-items:hover {
    border: solid #cccccc 1px;
    text-decoration: none;
    color: #555555;
}

.header-menu .dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    min-width: 160px;
    background: #234399;
    padding: 60px 0;
    color: #ffffff;
}

.header-menu .dropdown .dropdown-menu {
    background: #234399;
    border-top: solid white 1px;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
}

.header-menu .dropdown .dropdown-menu>li>a {
    color: #ffffff;
}

.header-menu .dropdown .dropdown-menu>li>a:hover {
    background: #3353a9;
}


@media(max-width: 800px) {
    .header {
        flex-direction: column;
    }
}

@media(max-width: 734px) {
    .header .header-menu {
        flex-direction: column;
        align-items: stretch;
        padding-right: 0;
    }

    .header-menu-items {
        padding: 0;
        text-align: center;
    }
}


/* Banner */

.header-banner {
    background-image: url('/img/slider.png');
    background-size: cover;
    min-height: 500px;
    padding: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.header-banner .title {
    color: #ffffff;
}

.search-box {
    margin: 20px;
    box-sizing: content-box;
    padding: 25px;
    align-self: center;
    width: 90%;
    max-width: 700px;
    background: #ffffff;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.search-bar {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-bar .search-input {
    flex: 1;
    display: flex;
    flex-direction: row;    
    align-items: stretch;
    border-bottom: solid #aaaaaa 1px;
}

.search-bar input {
    flex: 1;
    border: none;
    box-shadow: none;
    margin: 0;
    height: auto;
    padding: 5px;
}

.search-input span img {
    margin: 5px;
}

.search-bar input:hover, .search-bar input:focus {
    box-shadow: none;
}



.search-bar .search-button {
    width: 150px;
    background: #3353a9;
    padding: 20px;
    color: white;
    border: #3353a9 solid 1px;
    border-radius: 10px;
    font-weight: bold;
    margin: 5px;
}

@media (max-width: 650px) {
    .search-bar {
        flex-direction: column;
        align-items: stretch;
    }

    .search-bar .search-button {
        width: auto;
        margin: 15px;
        padding: 15px;
    }
}

@media (max-width: 495px) {
    .search-bar span {
        display: none;
    }
}



/** Categories */
.categories {
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    align-items: stretch;
    background: #f6f6f6;
}

.categories-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.categories-title h1 {
    color: #555555;
    margin: 10px 0;
}

.categories-title>.categories-line {
    flex: 1;
    border: solid #555555 1px;
    height: 1px;
    margin: 20px;
}

.categories-text {
    margin: 20px 0;
}

.categories-list {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
}

.category-card {
    box-sizing: border-box;
    flex: 30%;
    max-width: 30%;
    background: #ffffff;
    box-shadow: 4px 4px 20px #aaaaaa;
    border-radius: 3px;
    margin: 15px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 200px;
    transition: background linear 0.1s;
    color: #333333;
}

.category-card:hover {
    background: #cccccc;
    cursor: pointer;
    text-decoration: none;
    color: #333333;
}

.category-card>img {
    max-width: 150px;
    height: auto;
}

.category-card>p {
    flex: 1;
    text-align: center;
}

@media(max-width: 1150px) {
    .category-card {
        flex: 45%;
        max-width: 45%;
    }

    .category-card>img {
        max-width: 130px;
    }
}

@media(max-width: 760px) {
    .category-card {
        flex: 90%;
        max-width: 90%;
    }

    .category-card>img {
        max-width: 130px;
        width: 38%;
    }
}